
body{
  margin:50px;
  background-color: mistyrose;
}

.navbar{
  width:550px;
  height:70px;
  border-radius:15px 15px 0 0;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  /*background-color: mistyrose;*/
  align-items: center;
  font-family: monospace;
  font-size:30px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  color:red;
  /*border: 1px dotted;*/
}

.navbar > img {
  margin-right:20px;
  margin-left:20px;
  width:40px;
  height:50px;
}

.upper{
  width:550px;
  height:auto;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;

  text-align:left;
  /*align-items: center;*/
  font-family: monospace;
  color:red;
  /*border: 1px dotted;*/

}

.upper >img {
  width:500px;
  height:300px;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
}

.upper-text{
  margin: 20px;
}

.down{
  width:550px;
  height:auto;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  overflow-x: auto;

}

.card{
  width:145px;
  height:320px;
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  /*background-color: mistyrose;*/
  text-align:left;
  align-items: flex-start;
  font-family: monospace;
  color:red;
  /*border: 1px dotted;*/
  margin: 0 5px 5px 5px ;
  position:relative;

}
.card-badge{
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

.cars-rating{
  display:flex;
  flex-direction:row;
  align-items: baseline;
}

.card-img1{
  border-radius:10px;
  width:145px;
  /*min-width: 145px;*/
  height:235px;
  /*min-height:235px;*/
  margin-bottom:10px;
}

.card-img2{
  width:15px;
  height:15px;
}
.card-title {
  text-align: center;
  width:120px;
  height: 40px;
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.card > p > span{
  font-weight:bold;
}




